.THIS{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.THIS .search-button{
    margin-left: 5px;
}

.THIS .cep-input{
    width: 200px;
}

.THIS .address-type-radio-buttons-div{
    padding-top: 10px;
    padding-bottom : 10px;
}
.THIS .action-section{
    padding-top: 10p;
}